<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.w3.org/ns/widgets"
    id="nat-network-transfer"
    version="0.1.2">
    <name>nat-network-transfer</name>
    <description>Nat.js module: Network File Transfer (download & upload)</description>
    <license>MIT</license>
    <keywords>weex,plugin,nat,natjs,network,transfer,upload,download</keywords>
    <repo>https://github.com/natjs/weex-nat-network-transfer.git</repo>
    <issue>https://github.com/natjs/weex-nat-network-transfer/issues</issue>
    
     <!-- ios -->
     <platform name="ios">
         <framework src="NatTransfer" type="podspec" spec="" />
         <config-file target="WeexpluginConfig.xml" parent="/*">
             <feature name="WXTestModule">
                 <param name="category" value="module" />
                 <param name="ios-package" value="WeexNatTransfer" />
                 <param name="api" value="nat/network/transfer" />
             </feature>
         </config-file>
         <header-file src="ios/WeexNatTransfer.h"/>
         <source-file src="ios/WeexNatTransfer.m"/>
     </platform>

     <!-- android -->
     <platform name="android">
        <config-file target="config.xml" parent="/*">
             <feature name="NetworkTransferModule">
                 <param name="category" value="module" />
                 <param name="android-package" value="com.nat.weex.NetworkTransferModule" />
                 <param name="api" value="nat/network/transfer" />
             </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
             <uses-permission android:name="android.permission.INTERNET" />
             <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
             <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        </config-file>

        <source-file
             src="android/NetworkTransferModule.java"
            target-dir="src/com/alibaba/weex/nat/NetworkTransferModule.java" />

        <framework src="com.nat:network-transfer:1.0.1" />
     </platform>

</plugin>
